body {
	background-color: #1C0E46 ;
}

div {
	font-family: 'Courier New' ;
	font-weight: bold ;
	background-color: transparent ;
	color: #4F72FF ;
	font-size: 9pt ;
	line-height: 6pt ;
/*	transform: scale(0.5,0.5) ;  */
}
